<p>orders works!</p>
<div class="container">
  <div class="orders-page">
    <div class="title">
      <div *ngIf="orders && orders.length">
        <h2>訂單／購買查詢</h2>

        <ul>
          <li *ngFor="let order of orders" class="order-item">
            <img [src]="order.pictureUrl" alt="Product Image" />
            <div class="order-details">
              <p>Order ID: {{ order.orderId }}</p>

              <p>memberId: {{ order.memberId }}</p>

              <p>Product Name: {{ order.productName }}</p>

              <p>productCode: {{ order.productCode }}</p>

              <p>startDate: {{ order.startDate }}</p>

              <p>endDate: {{ order.endDate }}</p>

              <p>productAmountAdult: {{ order.productAmountAdult }}</p>

              <p>productAmountChild: {{ order.productAmountChild}}</p>

              <p>productTotalPrice: {{ order.productTotalPrice }}</p>
            </div>
          </li>
        </ul>

        <div *ngIf="!orders || orders.length === 0">
          <p>No orders found.</p>
        </div>
      </div>
    </div>
  </div>
</div>
