<div style="display: flex; flex-direction: column; align-items: center">
  <div style="width: 80%">
    <app-product-top-block [travelLocation]="travelLocation" />
    <app-interval-block />
    <app-product-title [titleText]="titileList[0]" />
    <app-interval-block />

    <app-travel-spot-block
      [blockType]="1"
      [title]="highLightsTitle1"
      [content]="highLightsContent1"
      [imgUrl1]="highLightsImgUrl1" />

    <app-travel-spot-block
      [blockType]="2"
      [title]="highLightsTitle2"
      [content]="highLightsContent2"
      [imgUrl1]="highLightsImgUrl2"
      [isNeedSpace]="true" />

    <app-travel-spot-block
      [blockType]="1"
      [title]="highLightsTitle3"
      [content]="highLightsContent3"
      [imgUrl1]="highLightsImgUrl3"
      [isNeedSpace]="true" />

    <app-interval-block />
    <app-product-title [titleText]="titileList[1]" />
    <app-interval-block />

    <div style="display: flex; flex-wrap: wrap; justify-content: center">
      <div
        *ngFor="let item of sightsTitleList"
        style="display: flex; flex-direction: column; align-items: center">
        <img
          [src]="item.url"
          alt="sightsImg"
          style="width: 500px; margin: 0px 20px" />
        <p>{{item.title | translate}}</p>
      </div>
    </div>

    <app-interval-block />
    <app-product-title [titleText]="titileList[2]" />
    <app-interval-block />

    <h1 style="text-align: center">{{accommodationContent | translate}}</h1>

    <app-interval-block />
    <app-product-title [titleText]="titileList[3]" />
    <app-interval-block />

    <app-travel-spot-block
      [blockType]="2"
      [title]="shoppingTitle1"
      [content]="shoppingContent1"
      [imgUrl1]="shoppingImgUrl1" />

    <app-travel-spot-block
      [blockType]="1"
      [title]="shoppingTitle2"
      [content]="shoppingContent2"
      [imgUrl1]="shoppingImgUrl2"
      [isNeedSpace]="true" />

    <app-travel-spot-block
      [blockType]="2"
      [title]="shoppingTitle3"
      [content]="shoppingContent3"
      [imgUrl1]="shoppingImgUrl3"
      [isNeedSpace]="true" />

    <h1 style="text-align: center; margin-top: 70px">
      {{shoppingContent4 | translate}}
    </h1>

    <app-interval-block />
    <app-product-title [titleText]="titileList[4]" />
    <app-interval-block />

    <div style="display: flex; justify-content: center">
      <h3 style="white-space: pre-line">{{foodContent1 | translate}}</h3>
    </div>

    <app-travel-spot-block
      [blockType]="0"
      [imgUrl1]="foodImgUrl1"
      [imgUrl2]="foodImgUrl2"
      [isNeedSpace]="true" />

    <app-travel-spot-block
      [blockType]="0"
      [imgUrl1]="foodImgUrl3"
      [imgUrl2]="foodImgUrl4"
      [isNeedSpace]="true" />

    <app-interval-block />
    <app-special-note [travelLocation]="travelLocation" />
    <app-interval-block />
  </div>
</div>
