<div class="container">
  <div class="resetpassword">
    <div class="form">
      <div class="title">
        <h2>重設密碼</h2>
      </div>
      <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <div class="form-label">請輸入帳號</div>
        <input
          type="account"
          formControlName="memberAccount"
          class="box"
          [ngClass]="{ 'is-invalid': submitted && f['memberAccount'].errors }" />
        <div
          *ngIf="submitted && f['memberAccount'].errors"
          class="invalid-feedback">
          <div *ngIf="f['memberAccount'].errors">請輸入帳號</div>
          <div *ngIf="f['memberAccount'].errors">您尚未註冊會員</div>
        </div>

        <div class="form-label">新密碼</div>
        <input
          type="password"
          formControlName="memberPassword"
          class="box"
          [ngClass]="{ 'is-invalid': submitted && f['memberPassword'].errors }" />
        <div
          *ngIf="submitted && f['memberPassword'].errors"
          class="invalid-feedback">
          <div *ngIf="f['memberPassword'].errors">密碼無效，請重新輸入</div>
          <div *ngIf="f['memberPassword'].errors">請輸入6位英數字密碼</div>
        </div>

        <div class="form-label">再輸入一次新密碼</div>
        <input
          type="password"
          formControlName="confirmPassword"
          class="box"
          [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />
        <div
          *ngIf="submitted && f['confirmPassword'].errors"
          class="invalid-feedback">
          <div *ngIf="f['confirmPassword'].errors">請再輸入一次新密碼</div>
        </div>

        <div class="button">
          <button
            type="submit"
            [disabled]="loading"
            mat-flat-button
            color="warn">
            確認
          </button>
          <a routerLink="../register" class="btn btn-link">會員註冊</a>

          <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        </div>
      </form>
    </div>
  </div>
</div>
