<p>
  <mat-toolbar color="white">
    <img
      [ngSrc]="logoImagUrl"
      alt="logoImagUrl"
      width="170"
      height="50"
      priority />
    <span class="example-spacer"></span>

    <button mat-icon-button class="search button">
      <span class="material-icons black"> search </span>
    </button>

    <button mat-button routerLink="/about">關於我們</button>
    <button mat-button routerLink="/product">旅遊行程</button>
    <button mat-button routerLink="/memberInfo">會員中心</button>
    <button mat-flat-button color="warn" routerLink="/login">會員登入</button>

    <button mat-icon-button class="search button">
      <span class="material-icons black"> translate </span>
    </button>

    <button mat-icon-button class="search button" routerLink="/shoppingCart">
      <span class="material-icons black"> shopping_cart </span>
    </button>

    <!-- <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
  </mat-toolbar>
</p>
<router-outlet />
