<div>
  <mat-toolbar style="position: fixed">
    <app-logo-btn [bgColor]="bgcolor" />
    <span class="example-spacer"></span>

    <button mat-icon-button class="search button">
      <span class="material-icons black"> search </span>
    </button>

    <button
      *ngFor="let hbm of headerBtnList"
      mat-flat-button
      [color]="(hbm.isWarn)? 'warn':''"
      [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="hbm.path| localize"
      routerLinkActive="active">
      {{hbm.btnText | translate}}
    </button>

    <button mat-icon-button class="search button" [matMenuTriggerFor]="menu">
      <span class="material-icons black"> translate </span>
    </button>

    <mat-menu #menu="matMenu">
      <div *ngFor="let locale of locales">
        <button
          mat-menu-item
          routerLink="/{{locale[0]}}/{{currentUrl}}"
          routerLinkActive="active">
          <span>{{locale[1]}}</span>
        </button>
      </div>
    </mat-menu>

    <button
      mat-icon-button
      class="search button"
      [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="'/shoppingCart' | localize"
      routerLinkActive="active">
      <span class="material-icons black"> shopping_cart </span>
    </button>
  </mat-toolbar>
</div>
