<app-interval-block />
<div style="display: flex; justify-content: center">
  <div style="width: 80%; display: flex; justify-content: center">
    <div style="width: 30%">
      <div style="width: 180px; height: 250px; border: 1px solid lightgray">
        HI
      </div>
    </div>
    <div style="width: 70%">
      <div *ngFor="let item of dataArray;let i = index">
        <app-travel-list-item [travelListItem]="item" />
        <mat-divider
          style="margin: 25px 0px; border: 1px solid lightgray"
          [style.display]="i === dataArray.length-1? 'none':'block'"></mat-divider>
      </div>
    </div>
  </div>
</div>
<app-interval-block />
