<p>payok works!</p>

<div class="rectangle-container bgContainer">
  <!-- app.component.html -->
  <div class="order-container" style="text-align: center">
    <div
      class="order-title"
      style="text-align: center; font-size: 24px; margin-top: 40px">
      <span class="check-mark" style="font-size: 36px">&#10003;</span> 訂單成立
    </div>
    <p style="font-size: 36px; margin-bottom: 40px"></p>
    <p style="font-size: 24px; margin-bottom: 100px">
      感謝您~我們已經收到您的訂單需求，將會儘快為您處理！<br /><br /><br />
      專員:王小明Wallis,WaNG 信箱:wallisWANGgmail.com 專線:(02)123-456-7890<br />
    </p>
  </div>
</div>
