<div
  class="aboutComponentContainer"
  style="display: flex; justify-content: center">
  <div
    style="
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 80%;
    ">
    <app-interval-block />
    <div
      class="bannerContainer"
      style="
      display: flex;
      justify-content: center;
      background-image: url({{bannerBgImgUrl}});
      padding: 50px 70px;
    ">
      <div style="margin: 120px 0px; flex-grow: 1">
        <h1 style="position: relative">
          <img
            [src]="starIconUrl"
            alt="starIcon"
            style="position: absolute; left: -65px; top: -65px" />
          {{bannerTitleList[0] | translate}}
        </h1>
        <hr />
        <h2 style="white-space: pre-line">{{bannerText | translate}}</h2>
      </div>
      <div style="flex-grow: 1; margin-left: 80px">
        <img [src]="bannerImgUrl" alt="bannerImgUrl" />
      </div>
    </div>

    <app-interval-block />

    <div
      class="vedioDivContainer"
      style="display: flex; flex-direction: column; align-items: center">
      <h1 style="position: relative">
        <img
          [src]="starIconUrl"
          alt="starIcon"
          style="position: absolute; left: -65px; top: -65px" />
        {{bannerTitleList[1] | translate}}
      </h1>
      <div>
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/qMQ-y9dHE2k?si=_-aYl8QkWfsccx5D"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen></iframe>
      </div>
    </div>

    <app-interval-block />

    <div style="display: flex; flex-direction: column; align-items: center">
      <h1 style="position: relative">
        <img
          [src]="starIconUrl"
          alt="starIcon"
          style="position: absolute; left: -65px; top: -65px" />
        {{bannerTitleList[2] | translate}}
      </h1>
      <iframe
        src="https://www.google.com/maps/d/u/0/embed?mid=1Wk3AGRY4WwbeQj-f-bP4j6cbJBQdH-E&ehbc=2E312F&noprof=1"
        width="100%"
        height="700px"></iframe>
    </div>

    <app-interval-block />

    <div>
      <h1 style="position: relative">
        <img
          [src]="starIconUrl"
          alt="starIcon"
          style="position: absolute; left: -65px; top: -65px" />
        {{bannerTitleList[3] | translate}}
      </h1>
      <table mat-table [dataSource]="serviceBaseList">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>name</th>
          <td mat-cell *matCellDef="let element">{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="location">
          <th mat-header-cell *matHeaderCellDef>location</th>
          <td mat-cell *matCellDef="let element">
            <div style="display: flex">
              <span
                class="material-icons"
                style="color: #ffac7d; margin-right: 10px">
                location_on
              </span>
              <p style="white-space: pre-line">{{element.location}}</p>
            </div>
          </td>
        </ng-container>
        <ng-container matColumnDef="phone">
          <th mat-header-cell *matHeaderCellDef>phone</th>
          <td mat-cell *matCellDef="let element">
            <div style="display: flex">
              <span
                class="material-icons"
                style="color: #ffac7d; margin-right: 10px">
                call
              </span>
              <p style="white-space: pre-line">{{element.phone}}</p>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="businessHours">
          <th mat-header-cell *matHeaderCellDef>businessHours</th>
          <td mat-cell *matCellDef="let element" style="white-space: pre-line">
            <div style="display: flex">
              <span
                class="material-icons"
                style="color: #ffac7d; margin-right: 10px">
                calendar_today
              </span>
              <p style="white-space: pre-line">{{element.businessHours}}</p>
            </div>
          </td>
        </ng-container>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns;"
          style="height: 150px"></tr>
      </table>
    </div>
    <button (click)="getMembers()">member api test</button>
    <!-- <button (click)="postOrders()">order api test</button> -->
    <app-interval-block />
  </div>
</div>
