<div>
  <p style="white-space: pre-line; font-size: 24px; line-height: normal">
    {{travelListItem.title | translate}}
  </p>
</div>
<div
  style="
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
  ">
  <div>
    <img
      [src]="travelListItem.mainImgurl"
      alt="travelMainImg"
      style="width: 300px" />
  </div>
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
    ">
    <div style="white-space: pre-line">
      <p>
        {{'JPTOURCODE' | translate}}: {{travelListItem.travelInfo.productCode}}
      </p>
      <p>
        {{'JPDEPARTUREDATE'|translate}}:{{travelListItem.travelInfo.startDate}}
      </p>
      <p>{{'JPRETURNDATE'|translate}}:{{travelListItem.travelInfo.endDate}}</p>
      <p>{{travelListItem.travelInfo.travelDays}} Days</p>
      <br />
      <p>
        {{'JPADULTPRICE'|translate}}:{{travelListItem.travelInfo.adultTicketPrice}}
      </p>
      <p>
        {{'JPCHILDPRICE'|translate}}:{{travelListItem.travelInfo.childrenTicketPrice}}
      </p>
    </div>
  </div>
  <div style="display: flex; flex-direction: column; align-items: end">
    <button mat-stroked-button style="font-size: 18px">
      {{'ADDTOCART'|translate}}
    </button>
    <button
      mat-button
      style="margin: 10px 0px; font-size: 14px; text-decoration: underline">
      {{'ITINERARY'|translate}}
    </button>
  </div>
</div>
