<div>
  <p style="white-space: pre-line; font-size: 24px; line-height: normal">
    {{product.productName| translate}}
  </p>
</div>
<div
  style="
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
  ">
  <div>
    <img
      [src]="product.productImgUrl"
      alt="travelMainImg"
      style="width: 300px" />
  </div>
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
    ">
    <div style="white-space: pre-line">
      <p>{{'JPTOURCODE' | translate}}: {{product.productCode}}</p>
      <p>{{'JPDEPARTUREDATE'|translate}}:{{product.startDate}}</p>
      <p>{{'JPRETURNDATE'|translate}}:{{product.endDate}}</p>
      <p>{{product.travelDays}} Days</p>
      <br />
      <p>{{'JPADULTPRICE'|translate}}:{{product.productPriceAdult}}</p>
      <p>{{'JPCHILDPRICE'|translate}}:{{product.productPriceChild}}</p>
    </div>
  </div>
  <div style="display: flex; flex-direction: column; align-items: end">
    <button
      mat-stroked-button
      style="font-size: 12px"
      (click)="onAddToCart(product)">
      {{'ADDTOCART'|translate}}
    </button>

    <!-- 行程詳細頁面(TODO) -->
    <!-- <button
      mat-button
      style="margin: 10px 0px; font-size: 14px; text-decoration: underline">
      {{'ITINERARY'|translate}}
    </button> -->
  </div>
</div>
