<div style="margin-top: 40px">
  <div style="display: flex; justify-content: center">
    <mat-form-field class="example-full-width">
      <mat-label>Order ID</mat-label>
      <input matInput placeholder="Ex. 1" #box (input)="onInput(box.value)" />
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      style="margin: 0px 30px; height: 56px"
      (click)="onSearchByID()">
      search
    </button>
    <button
      mat-raised-button
      style="height: 56px; background-color: #5fcaf8; color: white"
      (click)="onSearchAll()">
      search all
    </button>
    <button
      mat-raised-button
      color="primary"
      style="margin: 0px 30px; height: 56px"
      (click)="onAddOrder(fakeOrder)">
      add
    </button>
  </div>

  <hr style="margin-bottom: 40px" />
</div>
