<p>check-order works!</p>
<div class="rectangle-container bgContainer">
  <div style="display: inline-block; margin-left: 80px">
    <!-- Iterate over the cart items -->
    <div *ngFor="let item of cart" style="margin-top: 80px">
      <img
        [src]="item.productImgUrl"
        alt="Product Image"
        width="200"
        height="200" />
      <div>
        <h2>{{ item.productName }}</h2>
        <p>Product Code: {{ item.productCode }}</p>
        <p>Product Area: {{ item.productArea }}</p>
        <p>Start Date: {{ item.startDate }}</p>
        <p>End Date: {{ item.endDate }}</p>
        <p>Travel Days: {{ item.travelDays }}</p>
        <p>Price (Adult): {{ item.productPriceAdult }}</p>
        <p>Price (Child): {{ item.productPriceChild }}</p>

        <!-- Display total price for the item -->
        <p>Total Price: {{ item.productTotalPrice }}</p>
      </div>
    </div>
    <div style="text-align: left; margin-bottom: 50px"></div>
    <div>
      <div style="text-align: left; color: red; margin-bottom: 80px">
        <h1 style="font-size: 36px">總金額: {{totalPrice}}</h1>
      </div>

      <div style="text-align: left; color: red; margin-bottom: 80px">
        <h1 style="font-size: 36px">匯款後,請來電告知匯款日期及轉帳後4碼:</h1>
        <!-- Display total amount -->
      </div>

      <div style="margin-top: 80px">
        <img
          src="/assets/image/passbook_cover.jpg"
          style="width: 600px; height: 450px"
          alt="a" />
      </div>
    </div>

    <!-- Next page button -->
    <button
      [routerLinkActiveOptions]="{exact: true}"
      [routerLink]="path| localize"
      routerLinkActive="active"
      (click)="executeAddOrder()"
      style="
        font-size: 16px;
        border: 1px solid #000000; /* 將邊框顏色修改為黑色 */
        padding: 12px 20px;
        border-radius: 5px;
        background-color: transparent; /* 設置背景色為透明 */
        color: #010407; /* 設置文字顏色為按鈕的背景色 */
      ">
      確認轉帳完成
    </button>

    <!-- Interval block component -->
    <app-interval-block></app-interval-block>
  </div>
</div>
