<div style="display: flex; align-items: center; flex-direction: column">
  <img
    [src]="specialNoteImgUrl"
    alt="specialNoteImgUrl"
    style="margin: 10px; width: 200px" />
  <p
    style="
      margin-top: 40px;
      padding: 20px;
      white-space: pre-line;
      line-height: 25px;
      font-size: 12px;
    ">
    {{noteContnet.note1}}
  </p>
  <p
    style="
      margin-top: 20px;
      padding: 20px;
      white-space: pre;
      line-height: 25px;
      font-size: 12px;
    ">
    {{noteContnet.note2}}
  </p>
</div>
