<p>userprofile works!</p>

<div calss="container">
  <div class="userprofile-page">
    <div class="form">
      <div class="title">
        <h2>會員資訊</h2>
        <span>
          <div>
            <p>&#9670; 帳號:{{user.memberAccount}}/p></p>
            <div>
              <p>&#9670; 姓名: {{user.memberName}}</p>
              <p>&#9670; Email: {{user.memberEmail}}</p>
              <div>
                <p>&#9670; 手機: {{user.memberPhone}}</p>
                <div>
                  <p>&#9670; 地址:{{user.memberAddress}}</p>
                </div>

                <div class="button">
                  <a routerLink="../productlist">購物清單</a>
                </div>
              </div>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>
