<div
  *ngIf="blockType===0"
  style="display: flex; justify-content: center"
  [style.margin-top]="isNeedSpace? '70px':''">
  <img [src]="imgUrl1" alt="imgUrl1" style="width: 550px; margin: 0px 20px" />
  <img [src]="imgUrl2" alt="imgUrl2" style="width: 550px; margin: 0px 20px" />
</div>

<div
  *ngIf="blockType!==0"
  style="display: flex; justify-content: center"
  [style.flex-direction]="blockType===1?'row':'row-reverse'"
  [style.margin-top]="isNeedSpace? '70px':''">
  <div style="padding: 20px; flex-grow: 1; text-align: center">
    <h1>{{title}}</h1>
    <h3 style="margin-top: 40px; white-space: pre-line">{{content}}</h3>
  </div>
  <div style="margin: 0px 20px; flex-grow: 1">
    <img [src]="imgUrl1" alt="imgUrl1" style="width: 650px" />
  </div>
</div>
