<div calss="container">
  <div class="forgetpassword-page">
    <div class="form">
      <div class="title">
        <h2>忘記密碼</h2>
      </div>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
          <input
            type="text"
            matInput
            placeholder="Email"
            formControlName="email"
            class="box"
            autocomplete="off"
            [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
        </p>

        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors">Email無效，請重新輸入</div>
        </div>

        <div class="button-row">
          <button mat-raised-button color="primary">送出</button>
        </div>
      </form>
    </div>
  </div>
</div>
