<!-- nav -->
<div class="container">
  <div class="register-page">
    <div class="register-form">
      <div class="title">
        <h2>會員註冊</h2>
      </div>

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-label">姓名 Full Name</div>
        <input
          matInput
          type="text"
          formControlName="memberName"
          class="box"
          placeholder="姓名"
          [ngClass]="{ 'is-invalid': submitted && f['memberName'].errors }" />
        <div
          *ngIf="submitted && f['memberName'].errors"
          class="invalid-feedback">
          <div *ngIf="f['memberName'].errors">請輸入姓名</div>
        </div>

        <div class="form-label">帳號名稱 Account</div>
        <input
          matInput
          type="text"
          formControlName="memberAccount"
          class="box"
          placeholder="帳號"
          [ngClass]="{ 'is-invalid': submitted && f['memberAccount'].errors }" />

        <div
          *ngIf="submitted && f['memberAccount'].errors"
          class="invalid-feedback">
          <div *ngIf="f['memberAccount'].errors">請輸入帳號</div>
        </div>

        <div class="form-label">密碼 Password</div>
        <input
          matInput
          type="password"
          formControlName="memberPassword"
          class="box"
          placeholder="請輸入密碼(6-20英數字符號組合)"
          [ngClass]="{ 'is-invalid': submitted && f['memberPassword'].errors }" />

        <div
          *ngIf="submitted && f['memberPassword'].errors"
          class="invalid-feedback">
          <div *ngIf="f['memberPassword'].errors">請輸入密碼</div>
          <div *ngIf="f['memberPassword'].errors">密碼須設定至少6碼</div>

          <div class="form-label">確認密碼 Confirmpassword</div>
          <input
            matInput
            type="password"
            formControlName="confirmPassword"
            class="box"
            placeholder="密碼確認"
            [ngClass]="{ 'is-invalid': submitted && f['confirmPassword'].errors }" />

          <div
            *ngIf="submitted && f['confirmPassword'].errors"
            class="invalid-feedback">
            <div *ngIf="f['confirmPassword'].errors">請再次輸入設定密碼</div>
            <div *ngIf="f['confirmPassword'].errors">
              密碼不相符，請重新輸入
            </div>
          </div>
        </div>

        <div class="form-label">Email</div>
        <input
          matInput
          type="email"
          formControlName="memberEmail"
          class="box"
          placeholder="Email"
          [ngClass]="{ 'is-invalid': submitted && f['memberEmail'].errors }" />
        <div
          *ngIf="submitted && f['memberEmail'].errors"
          class="invalid-feedback">
          <div *ngIf="f['memberEmail'].errors">Email無效，請重新輸入</div>
        </div>

        <div class="form-label">手機 Mobile</div>
        <input
          matInput
          type="text"
          pattern="[0-9]{9}"
          formControlName="memberPhone"
          class="box"
          placeholder="手機號碼"
          [ngClass]="{ 'is-invalid': submitted && f['memberPhone'].errors }" />
        <div
          *ngIf="submitted && f['memberPhone'].errors"
          class="invalid-feedback">
          <div *ngIf="f['memberPhone'].errors">請輸入手機號碼</div>
        </div>

        <div class="form-label">地址 Address</div>
        <div></div>
        <input
          type="text"
          placeholder="地址"
          formControlName="memberAddress"
          class="box"
          [ngClass]="{ 'is-invalid': submitted && f['memberAddress'].errors }" />
        <div
          *ngIf="submitted && f['memberAddress'].errors"
          class="invalid-feedback">
          <div *ngIf="f['memberAddress'].errors">請輸入地址</div>
        </div>

        <div div class="button-row">
          <button mat-flat-button color="warn" type="submit">註冊</button>
          <div>
            <div class="login">
              <a routerLink="../login" class="btn btn-link">會員登入</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
