<app-interval-block />
<div>
  <p style="white-space: pre-line; font-size: 35px; line-height: normal">
    {{productTopBlockContent.title}}
  </p>
</div>
<div style="display: flex; margin-top: 30px">
  <div style="width: 80%">
    <img
      [src]="productTopBlockContent.mainImgurl"
      alt="travelMainImg"
      style="width: 100%" />
  </div>
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
    ">
    <div style="white-space: pre-line; margin-bottom: 30px">
      <h2>產品代碼：{{productTopBlockContent.travelInfo.productCode}}</h2>
      <h2>去程：{{productTopBlockContent.travelInfo.startDate}}</h2>
      <h2>回程：{{productTopBlockContent.travelInfo.endDate}}</h2>
      <h2>共{{productTopBlockContent.travelInfo.travelDays}}天</h2>
      <br />
      <h2>成人：{{productTopBlockContent.travelInfo.adultTicketPrice}}</h2>
      <h2>兒童：{{productTopBlockContent.travelInfo.childrenTicketPrice}}</h2>
    </div>
    <div>
      <button mat-stroked-button style="margin-right: 30px; font-size: 18px">
        詳細行程
      </button>
      <button mat-stroked-button style="font-size: 18px">報名</button>
    </div>
  </div>
</div>
<img
  [src]="productTopBlockContent.bannerImgurl"
  alt="travelMainImg"
  style="width: 100%; margin-top: 60px" />
