<div style="display: flex; flex-direction: column; align-items: center">
  <div style="width: 80%">
    <app-product-top-block [travelLocation]="travelLocation" />

    <app-interval-block />
    <app-product-title [titleText]="titileList[0]" />
    <app-interval-block />

    <div style="display: flex; justify-content: center">
      <h3 style="white-space: pre-line">{{highLightsContent}}</h3>
    </div>
    <div style="display: flex; justify-content: center">
      <img
        [src]="highLightsImgUrl1"
        alt="highLightsImgUrl1"
        style="margin-top: 70px" />
    </div>

    <app-interval-block />
    <app-product-title [titleText]="titileList[1]" />
    <app-interval-block />

    <div style="display: flex; justify-content: center">
      <img [src]="sightsTitleImgUrl1" alt="sightsImgUrl0" />
    </div>
    <div style="display: flex; justify-content: center; margin-top: 10px">
      <h1 style="font-size: 48px">{{sightsTitle1}}</h1>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 70px">
      <h3 style="white-space: pre-line">{{sightsContent1}}</h3>
    </div>

    <app-travel-spot-block
      [blockType]="0"
      [imgUrl1]="sightsImgUrl1"
      [imgUrl2]="sightsImgUrl2"
      [isNeedSpace]="true" />

    <div
      style="
        display: flex;
        justify-content: center;
        margin-top: 70px;
        align-items: center;
      ">
      <h1 style="white-space: pre-line; font-size: 72px">{{sightsTitle2}}</h1>
      <img [src]="sightsTitleImgUrl2" alt="sightsTitleImgUrl2" />
    </div>

    <div
      style="
        display: flex;
        justify-content: center;
        margin-top: 70px;
        align-items: center;
      ">
      <img [src]="sightsImgUrl3" alt="sightsImgUrl3" />
      <img [src]="sightsImgUrl4" alt="sightsImgUrl4" />
    </div>

    <div style="display: flex; justify-content: center; margin-top: 70px">
      <img [src]="sightsImgUrl5" alt="sightsImgUrl5" />
    </div>

    <div style="display: flex; justify-content: center; margin-top: 70px">
      <h3 style="white-space: pre-line">{{sightsContent3}}</h3>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 70px">
      <img [src]="sightsImgUrl6" alt="sightsImgUrl6" />
    </div>

    <app-interval-block />
    <app-product-title [titleText]="titileList[2]" />
    <app-interval-block />

    <div style="display: flex; justify-content: center; margin-top: 70px">
      <h3 style="white-space: pre-line">{{accommodationContent}}</h3>
    </div>

    <app-interval-block />
    <app-product-title [titleText]="titileList[3]" />
    <app-interval-block />

    <div style="display: flex; justify-content: center; margin-top: 70px">
      <h3 style="white-space: pre-line">{{foodContent1}}</h3>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 70px">
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 120px;
        ">
        <h2>{{foodTitle2}}</h2>
        <img [src]="foodImgUrl0" alt="foodImgUrl0" style="margin: 40px 0px" />
        <h3 style="white-space: pre-line">{{foodContent2}}</h3>
      </div>
      <img [src]="foodImgUrl1" alt="foodImgUrl1" />
    </div>

    <app-travel-spot-block
      [blockType]="1"
      [content]="foodContent3"
      [imgUrl1]="foodImgUrl2"
      [isNeedSpace]="true" />

    <app-travel-spot-block
      [blockType]="0"
      [imgUrl1]="foodImgUrl3"
      [imgUrl2]="foodImgUrl4"
      [isNeedSpace]="true" />

    <app-interval-block />

    <img
      [src]="travelBannerImgUrl02"
      alt="travelBannerImgUrl02"
      style="width: 100%" />

    <div style="display: flex; justify-content: center; margin-top: 70px">
      <h3 style="white-space: pre-line; text-align: center">
        {{dubaiContent1}}
      </h3>
    </div>

    <div style="display: flex; justify-content: center; margin-top: 70px">
      <img [src]="dubaiImgUrl1" alt="dubaiImgUrl1" />
    </div>

    <div
      style="
        display: flex;
        margin-top: 70px;
        justify-content: center;
        align-items: end;
      ">
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin: 0px 70px 0px 20px;
        ">
        <h2>{{dubaiTitle2}}</h2>
        <h3>{{dubaiContent2}}</h3>
        <img [src]="dubaiImgUrl2" alt="dubaiImgUrl2" style="margin-top: 70px" />
      </div>

      <img [src]="dubaiImgUrl3" alt="dubaiImgUrl3" style="width: 600px" />
    </div>

    <app-travel-spot-block
      [blockType]="2"
      [title]="dubaiTitle3"
      [content]="dubaiContent3"
      [imgUrl1]="dubaiImgUrl4"
      [isNeedSpace]="true" />

    <app-interval-block />
    <app-special-note [travelLocation]="travelLocation" />
    <app-interval-block />
  </div>
</div>
