<p>userprofile works!</p>

<div class="container">
  <div class="userprofile-page">
    <div class="form">
      <div class="title">
        <div *ngIf="member">
          <h2>會員資訊</h2>
          <span>
            <div>
              <p>&#9670; 帳號:{{member.memberAccount}}</p>
              <div>
                <p>&#9670; 姓名: {{member.memberName}}</p>
                <p>&#9670; Email: {{member.memberEmail}}</p>
                <div>
                  <p>&#9670; 手機: {{member.memberPhone}}</p>
                  <div>
                    <p>&#9670; 地址:{{member.memberAddress}}</p>
                  </div>

                  <div class="button">
                    <button
                      mat-raised-button
                      color="primary"
                      (click)="goToOrders()"
                      routerLinkActive="active">
                      購物清單
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
