.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.userprofile-page {
  padding: 10% 10% 5%;
  margin: auto;
}

.form {
  position: relative;
  z-index: 1;
  background: #0ACDB7;
  max-width: 450px;
  margin-top: 60px;
  margin-left: 250px;
  margin-bottom: 100px;
  padding: 45px;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.button {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  margin-left: 130px;

}
