<div style="margin-top: 40px">
  <div style="display: flex; justify-content: center">
    <mat-form-field>
      <mat-label>Travel Area</mat-label>
      <mat-select [(value)]="areaValue">
        @for (area of areas; track area) {
        <mat-option [value]="area.value">{{area.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      style="margin: 0px 30px; height: 56px"
      (click)="onSearchByArea()">
      search
    </button>
    <button
      mat-raised-button
      style="height: 56px; background-color: #5fcaf8; color: white"
      (click)="onSearchAll()">
      search all
    </button>
    <!-- 新增產品功能(TODO) -->
    <!-- <button
      mat-raised-button
      color="primary"
      style="margin: 0px 30px; height: 56px"
      (click)="onAddProduct(fakeProductData)">
      add
    </button> -->
  </div>

  <hr style="margin-bottom: 60px" />

  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    style="background-color: ghostwhite">
    <!-- id Column -->
    <ng-container matColumnDef="productId">
      <th mat-header-cell *matHeaderCellDef>productId</th>
      <td mat-cell *matCellDef="let element">{{element.productId}}</td>
    </ng-container>

    <!-- productCode Column -->
    <ng-container matColumnDef="productCode">
      <th mat-header-cell *matHeaderCellDef>productCode</th>
      <td mat-cell *matCellDef="let element">{{element.productCode}}</td>
    </ng-container>

    <!-- productName Column -->
    <ng-container matColumnDef="productName">
      <th mat-header-cell *matHeaderCellDef>productName</th>
      <td mat-cell *matCellDef="let element">{{element.productName}}</td>
    </ng-container>

    <!-- productArea Column -->
    <ng-container matColumnDef="productArea">
      <th mat-header-cell *matHeaderCellDef>productArea</th>
      <td mat-cell *matCellDef="let element">{{element.productArea}}</td>
    </ng-container>

    <!-- startDate Column -->
    <ng-container matColumnDef="startDate">
      <th mat-header-cell *matHeaderCellDef>startDate</th>
      <td mat-cell *matCellDef="let element">{{element.startDate}}</td>
    </ng-container>

    <!-- endDate Column -->
    <ng-container matColumnDef="endDate">
      <th mat-header-cell *matHeaderCellDef>endDate</th>
      <td mat-cell *matCellDef="let element">{{element.endDate}}</td>
    </ng-container>

    <!-- travelDays Column -->
    <ng-container matColumnDef="travelDays">
      <th mat-header-cell *matHeaderCellDef>travelDays</th>
      <td mat-cell *matCellDef="let element">{{element.travelDays}}</td>
    </ng-container>

    <!-- productPriceAdult Column -->
    <ng-container matColumnDef="productPriceAdult">
      <th mat-header-cell *matHeaderCellDef>productPriceAdult</th>
      <td mat-cell *matCellDef="let element">{{element.productPriceAdult}}</td>
    </ng-container>

    <!-- productPriceChild Column -->
    <ng-container matColumnDef="productPriceChild">
      <th mat-header-cell *matHeaderCellDef>productPriceChild</th>
      <td mat-cell *matCellDef="let element">{{element.productPriceChild}}</td>
    </ng-container>

    <!-- 刪除產品功能 (TODO) -->
    <!-- delete Column -->
    <!-- <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>delete</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          (click)="onDeleteProduct(element.productId)"
          [style.display]="element.productId === undefined? 'none':'block'">
          <span class="material-icons black">delete</span>
        </button>
      </td>
    </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- admin 新增產品功能 (TODO) -->
  <!-- <hr style="margin: 60px 0px" />

  <div>
    <mat-form-field class="example-full-width">
      <mat-label>Member ID</mat-label>
      <input matInput placeholder="Ex. 1" #box />
    </mat-form-field>
  </div> -->
</div>
